#body {
    background-image: url("../images/background-image.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    color: gray;
}
#jumbotron1 {
    font-size: 60px;
    display: block;
    background-image: url("../images/jumbotron-background.jpg");
    background-color: black;
    color: white;

}
#startButton {
    background-color: rgba(39, 197, 7, 0.8);
    color: white;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 20px;
    padding: 20px 52px;
    margin-top: 20px;
    margin-bottom: 20px;
    float: center;
}

#startButton:hover, .reset:hover {
    background-color: rgba(0, 16, 247, 0.4);
    color: black;
}

#resetButton {
    background-color: rgba(247, 0, 0, 0.8);
    color: white;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 20px;
    padding: 20px 52px;
    margin-top: 20px;
    margin-bottom: 20px;
    float: center;
}

#resetButton:hover, .reset:hover {
    background-color: rgba(0, 16, 247, 0.4);
    color: black;
}

#triviaQuestions {
    font-size: 26px;
    background-color: black;
    color: white;
    text-align: center;
    display: block;

}

#timeElement {
    font-size: 30px;
    color: red;
    background-color: black;
    display: block;
}

#cardID {
    font-size: 36px;
    background: transparent;
    background-color: black;
    color: white;
    display: block;
}

#instructionsTrivia {
    font-size: 26px;
    background-color: black;
    color: white;
    display: block;

}